<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PAGE for {{companyName}} (views/admin.handlebars)</title>
</head>
  <ul id="users"></ul>
<body>
    
{{>header}}
<div class="admin-page-container">
        <div><h1>ADMIN PAGE for {{companyName}} (views/admin.handlebars)</h1></div>
        <div><h2>You can change your information and user information here</h2></div>
        <br>
        <div><h2>Your information:</h2></div>
        <div class="admin-container">
            <div class="fields">
                <input class="email field" id="email" placeholder="Email address" type="email" value="" title="">
                <input class="password field" id="password" placeholder="Password" type="password" value="" title="">
            </div>
        </div>
        <button class="continue-button" type="submit">Save My information</button>
        <br>
        <br>
        <div><h2>User information:</h2></div>
        <table>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Check-In Date</th>
                <th>Check-Out Date</th>
                <th></th>
                <th></th>
            </tr>
            {{#each users}}
            <tr>
                <td>{{this.userID}}</td>
                <td>{{this.firstName}} {{this.lastName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.checkIn}}</td>
                <td>{{this.checkOut}}</td>
                <td><a class="update-button" href="/admin-crud-update/{{this.userID}}">Update</a></td>
                <td><a onclick="confirmDelete()" class="delete-button" href="/admin-crud-update/delete/{{this.userID}}">Delete</a></td>
            </tr>
            {{/each}}
        </table>

        <script>
            function confirmDelete(userID) {
                if (confirm("Are you sure you want to delete this reservation?")) {
                    fetch(`/admin-crud-update/delete/${userID}?_method=DELETE`, {
                        method: 'POST' // Use POST method as method-override is enabled
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log('User deleted successfully');
                                location.reload(); // Reload the page after successful deletion
                            } else {
                                throw new Error('Failed to delete user');
                            }
                        })
                        .catch(error => {
                            console.error(error);
                            alert('Failed to delete user');
                        });
                } else {
                    console.log("Reservation was not deleted");
                }
            }
        </script>
    </div>
    
{{>footer}}
</body>
</html>